<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-md-7 mt-5">
            <div class="card rounded-lg border-success mt-5">
                <div class="card-header">
                    <div class="row justify-content-center">
                        <span class="text-primary">Create new user!</span>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/registration" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="InputLogin">Login</label>
                            <input type="text" class="form-control " id="InputLogin" name="login">
                        </div>
                        <label for="customFileDiv">Avatar</label>
                        <div class="custom-file" id="customFileDiv">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control " id="exampleInputEmail1" name="email"
                                   aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control " id="exampleInputPassword1"
                                   name="password">
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-primary  mt-4">Create user
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>